/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial;
    font-size: 12pt;
    padding-top: 51px;
    margin: 0px;
}

a{
    cursor: pointer;
}

.form-control, .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

  .panel-body{
      
  }