@import 'colors';

/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial;
    font-size: 12pt;
    padding-top: 51px;
    margin: 0px;
}

a{
    cursor: pointer;
}

h2{
    span{
        font-size: 18px;
    }
}

.row{
    margin-bottom: 10px;
}

.navbar.navbar-default.navbar-fixed-top{
    background-image: none;
}

.form-control, .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

  .submenu{
      border-bottom: 1px solid $greyLight;
      height: 40px;

      .menuLink{
          float: left;
          border-bottom: 3px solid transparent;
          box-sizing: border-box;
          font-size: 10pt;
          color: $greyDark;
          line-height: 37px;
          padding: 0 20px;

          &:hover{
              cursor: pointer;
              border-bottom: 3px solid $greyMiddle;
          }

          &.active{
              color: black;
              border-bottom: 3px solid $primary;
          }
      }
  }

/* Font awesome icons */
.fa {
    &.fa-trash{
        color: $red;
        &:hover{
            color: $redDark;
        }
    }
}