<div class="row">
  
  <h1>Ledenadministratie</h1>
  <div class="col-md-12">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>KNSB</th>
          <th>Voorletter</th>
          <th>Voornaam</th>
          <th>tussenvoegsel</th>
          <th>Achternaam</th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td><input [(ngModel)]="newMember.knsb" /></td>
        <td><input [(ngModel)]="newMember.voorletters" /></td>
        <td><input [(ngModel)]="newMember.voornaam" /></td>
        <td><input [(ngModel)]="newMember.tussenvoegsel" /></td>
        <td><input [(ngModel)]="newMember.achternaam" /></td>
        <td>
          <button class="btn btn-success pull-right" (click)=createMember()>Nieuw lid</button>
        </td>
      </tr>
      <tr *ngFor="let member of members">
        <td>{{member.knsb}}</td>
        <td>{{member.voorletters}}</td>
        <td>{{member.voornaam}}</td>
        <td>{{member.tussenvoegsel}}</td>
        <td>{{member.achternaam}}</td>
        <td>
          <a [routerLink]="['/members', member.id]"><span class='glyphicon glyphicon-edit'></span></a>
        </td>
      </tr>
    </table>
  </div>
</div>